body {
    position: relative;
    min-height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    &::after {
        position: fixed;
        content: '';
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba($color: #062644, $alpha: 0.95);
        z-index: 1
    }
}

header,
main.main,
footer {
    position: relative;
    z-index: 2;
}
